@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/bootstrap.scss';

body {
    background: rgba(252, 210, 93, 0.4);
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.btn-yellow {
    border: 2px solid $yellow-500;
    color: $yellow-500;
    font-weight: bold;

    &:hover {
        border: 2px solid $yellow-500;
        background-color: $yellow-500;
        color: white;
    }
}